.mujer{
    width: 60px;
    height: 120px;
    position: absolute;
    left: 385px;
    top: 330px;
    font-size: 180px;
    color: brown
    
}
.akarayu{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 585px;
    top: 585px;
    font-size: 30px;
    color: brown
    
}